.row.header {
    justify-content: space-between;
    align-items: center;

    & .title {
        color: var(--primary-light);
        font-size: 1.2rem;
        font-weight: 700;
    }

    & button.primary {
        padding-inline: 1rem;
    }

}

.search-wrapper {
    display: flex;
    gap: 0.25rem;
    margin-inline: 1rem;
    flex: 1;
    margin-block-end: 0.5rem;
}

.select,
.search-input {
    border: 1px solid var(--dark-medium);
    border-radius: 5px;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 16px;
    text-align: left;
    outline: none;
    /* width: 100%; */
}

.select {
    width: 100px;
}

.search-input {
    flex: 1;
}