:root {
    --column-size: 1;
}


.hero {
    display: grid;
    grid-template-columns: repeat(var(--column-size), 1fr);
    gap: 1rem;
    place-items: center;
    text-align: center;
    max-width: 60%;
}

.hero h1 {
    font-size: clamp(1.2rem, 5vw, 3.5rem);
    color: var(--yellow);
    text-align: center;
}

.hero p {
    color: var(--dark-medium);
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.7;
}

.logo-wrapper {
    color: var(--primary-thin);
}

.logo-wrapper p {
    color: var(--primary-thin);
}

.button.landing {
    background-color: var(--yellow);
    border-color: var(--yellow);
    padding-block: 1rem;
    font-size: clamp(1rem, 2vw, 1.2rem);

    border-radius: 0.5rem;
    margin-block-start: 1rem;
}

/* @media screen and (min-width:970px) {
    .hero {
        --column-size: 2;
    }

} */